extends layout

block content
  .form-container
    h2 FAQ
    p Q: Is this a real store?  
    p A: No, this is a demo project only.
    p Q: Can I pay with a card?  
    p A: The checkout is non-functional.