extends layout

block content
  h2.section-title Featured Projects
  .slideshow-container#slideshow1
    each url, i in slides.slideshow1
      img.slide(class=i === 0 ? "slide active" : "slide", src=url)
    a.prev(onclick="changeSlide('slideshow1', -1)") ❮
    a.next(onclick="changeSlide('slideshow1', 1)") ❯

  h2.section-title Trending Now
  .slideshow-container#slideshow2
    each url, i in slides.slideshow2
      img.slide(class=i === 0 ? "slide active" : "slide", src=url)
    a.prev(onclick="changeSlide('slideshow2', -1)") ❮
    a.next(onclick="changeSlide('slideshow2', 1)") ❯